<!DOCTYPE html>
<html lang="ja">
  <!-- headタグは、titleを引数にしたheader.htmlのmeta_headerの記述に置き換えられる -->
  <head th:replace="header::meta_header(~{::title})">
    <title>シネ根 -- トップ</title>
  </head>
  <body>
    <!-- headタグと同様にheaderタグの内容も置き換えられる -->
    <header th:replace="header::header"></header>
    <main class="flex-shrink-0">
      <div class="container">
        <div th:replace="header::top"></div>
        <div class="row mb-3">
          <div class="col-md-3">
            <div th:replace="header::left"></div>
          </div>
          <div class="col-md-6">
            <div th:unless="${#lists.isEmpty(monthlyList)}">
              <h2><span th:text="${#temporals.format(monthlyList[0].watchedDate, 'yyyy年MM月の映画')}"></span></h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" th:each="member : ${monthlyList}">
                <a th:href="@{/detail/{id}(id=${member.id})}" th:text="${member.title}">title</a>
                <br>
                <p>
                  <span th:text="${member.shortComment}"></span>
                  <br>
                  <span th:text="${#temporals.format(member.watchedDate, 'yyyy年MM月dd日')}"></span>
                  <span th:text="${member.theater}"></span>
                  <br>
                  <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn btn-primary" th:href="@{/edit/{id}(id=${member.id})}" role="button">編集</a>
                </p>
              </li>
            </ul>
            <br>
            <div th:unless="${#lists.isEmpty(monthlyList)}">
              <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm justify-content-center">
                    <li th:class="${page.first} ? 'page-item disabled':'page-item'">
                      <a th:if="${(page.first)}" class="page-link" href="javascript:void(0);"><i class="fas fa-chevron-left"></i>前へ</a>
                      <a th:if="${!(page.first)}" class="page-link" th:href="@{${url}(page=${page.number})}"><i class="fas fa-chevron-left"></i>前へ</a>
                    </li>
                    <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active disabled page-item' : 'page-item'">
                      <a th:if='${i}==${page.number}' class="page-link " href="javascript:void(0);">
                          <span th:text='${i+1}'>1</span>
                      </a>
                      <a th:if='${i}!=${page.number}' class="page-link " th:href="@{${url}(page=${i+1})}">
                          <span th:text='${i+1}'>1</span>
                      </a>
                    </li>
                    <li th:class="${page.last} ? 'page-item disabled':'page-item '">
                      <a th:if="${(page.last)}" class="page-link" href="javascript:void(0);">次へ<i class="fas fa-chevron-right"></i></a>
                      <a th:if="${!(page.last)}" class="page-link" th:href="@{${url}(page=(${page.number + 2}))}">次へ<i class="fas fa-chevron-right"></i></a>
                    </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-3">
          <div th:replace="header::right"></div>
          </div>
        </div>
      </div>
      <footer th:replace="header::footer"></footer>
    </main>
  </body>
</html>
